@import "tailwindcss";
.font-exo2 {
  font-family: 'Exo 2', sans-serif;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
}
nav {
  font-family: 'Poppins', sans-serif;
  font-weight: 600; /* Semi-bold */
}
.Poppins-font {
   font-family: 'Poppins', sans-serif;
  font-weight: 600; /* Semi-bold */
}
.fontplayfair {
    font-family: 'Playfair Display', serif;
  font-weight: 700; /* Semi-bold */
}
p,li{
   font-family: 'Poppins', sans-serif;
}
input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    height: 30px;
    margin-right: 10px;
    border-radius: 20px;
    outline: 0;
    background: #ccc;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 31px;
    width: 31px;
    border-radius: 3px;
    background: #234C6A;
    border-radius: 50%;
    border: 0;
    cursor: pointer;
  }

/* All the same stuff for Firefox */
input[type=range]::-moz-range-thumb {
    height: 28px;
    width: 28px;
    border-radius: 3px;
    background: #234C6A;
    border: 0;
    border-radius: 50%;
    cursor: pointer;
  }
  
  /* All the same stuff for IE */
  input[type=range]::-ms-thumb {
    height: 28px;
    width: 28px;
    border-radius: 3px;
    background: #234C6A;
    border-radius: 50%;
    border: 0;
    cursor: pointer;
  }

  /* @keyframes spin-slow {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */

/* .spin-slow {
  animation: spin-slow 8s linear infinite;
}
.bg-conic {
  background: conic-gradient(#FAA533 0deg 180deg, #0BA6DF 180deg 360deg);
} */
