.features-section .icon svg path,
.features-section .icon svg rect,
.features-section .icon svg circle,
.features-section .icon svg polygon {
  stroke-dasharray: 300;
  stroke-dashoffset: 300;
  transition: stroke-dashoffset 3s ease;
}

.features-section.animate-icons .icon svg path,
.features-section.animate-icons .icon svg rect,
.features-section.animate-icons .icon svg circle,
.features-section.animate-icons .icon svg polygon {
  stroke-dashoffset: 0;
}
